{% extends 'base.html' %}
{% block title %}年代一覧{% endblock %}
{% block content %}
    <div class="page-title">年代一覧</div>
    <table>
        <tbody>
            {% for generation in generations %}
                <tr>
                    <td><a href="{% url 'generation_players' generation.birth_year %}">{{ generation.birth_year }}年生まれ</a></td>
                    <td class="numeric">{{ generation.count }}人</td>
                </tr>
            {% empty %}
                <tr><td><div class="no-result">データがありません</div></td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}