{% extends "base.html" %}
{% block title %}{{ year }}年度生まれの選手{% endblock %}
{% block content %}
    <div class="page-title">{{ year }}年度生まれの選手</div>
    <table>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>
                        {% if player.team_logo %}
                            <img src="{{ player.team_logo.url }}" alt="Team Logo" class="team-logo-small">
                        {% endif %}
                        <a href="{% url 'player_detail' player.player_id %}">
                            {% if player.common_record_registered_name %}
                                {{ player.common_record_registered_name }}
                            {% else %}
                                {{ player.player_name }}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ player.player_birthday }}</td>
                </tr>
            {% empty %}
                <div>該当する選手がいません。</div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}