{% extends 'base.html' %}
{% load format_filters %}
{% block title %}{{ player.name }}{% endblock %}
{% block content %}
    <div>
        <div class="page-title">{{ player.name }}</div>
        {% if player.furigana %}
            <div>ふりがな: {{ player.furigana }}</div>
        {% endif %}
        {% if player.nickname %}
            <div>通称: {{ player.nickname|with_brackets }}</div>
        {% endif %}
        {% if player.player_category %}
            <div>区分: {{ player.player_category }}</div>
        {% endif %}
        {% if player.main_position_category %}
            <div>ポジション: {{player.main_position_category }}</div>
        {% endif %}
        {% if player.birthday %}
            <div>誕生日: {{ player.birthday }}</div>
        {% endif %}
        {% if player.age %}
            <div>年齢: {{ player.age|age_with_suffix }}</div>
        {% endif %}
        {% if player.throw_bat %}
            <div>投打: {{ player.throw_bat }}</div>
        {% endif %}
        {% if player.height %}
            <div>身長: {{ player.height|height_with_suffix }}</div>
        {% endif %}
        {% if player.weight %}
            <div>体重: {{ player.weight|weight_with_suffix }}</div>
        {% endif %}
        {% if player.favorite_team %}
            <div>ファン球団: {{ player.favorite_team }}</div>
        {% endif %}
        {% if player.place %}
            <div>出身地: <a href="{% url 'place_detail' player.place_id %}">{{ player.place }}</a></div>
        {% endif %}
        {% if player.is_married %}
            <div>婚姻: {{ player.marriage }}</div>
        {% endif %}
        {% if player.hobby %}
            <div>趣味: {{ player.hobby }}</div>
        {% endif %}
        {% if player.specialty %}
            <div>特技: {{ player.specialty }}</div>
        {% endif %}
        {% if player.wikipedia_parameter %}
            <div>
                Wikipedia: 
                <a href={{ player.wikipedia_parameter|format_wikipedia_url }} target="_blank" title="Wikipedia">
                    <i class="fa-brands fa-wikipedia-w"></i>
                </a>
            </div>
        {% endif %}
        {% if player.youtube_parameter %}
            <div>
                Youtube: 
                <a href={{ player.youtube_parameter|format_youtube_url }} target="_blank" title="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        {% endif %}
    </div>
    {% if careers %}
        <div class="custom-heading">経歴</div>
        <table>
            <tbody>
                {% for career in careers %}
                    <tr>
                        <td><a href="{% url 'career_detail' career.career_version.career_id %}">{{ career.career_version.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if drafts %}
        <div class="custom-heading">ドラフト</div>
        <table>
            <tbody>
                {% for draft in drafts %}
                    <tr>
                        <td><a href="{% url 'draft_detail' draft.draft.year %}">{{ draft.draft.year|year_with_suffix }}</a></td>
                        <td>{{ draft.draft.draft_category }}</td>
                        <td class="center"><img src="{{ draft.team.logo.url }}" alt="Team Logo" class="team-logo-small"></td>
                        <td class="numeric">{{ draft.miss_count | get_miss_text }}{{ draft.rank|rank_with_suffix }}</td>
                        <td class="center">{{ draft.is_hit|hit_mark }}</td>
                        <td class="center">{{ draft.is_joined|join_mark:draft.is_hit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="custom-heading">タイトル</div>
    <table>
        <tbody>
            {% for title in titles %}
                <tr>
                    <td><a href="{% url 'player_year_detail' player.id title.season.id %}">{{ title.season.year|year_with_suffix }}{{ title.season.label }}</a></td>
                    <td>
                        {% if title.position.id %}
                            {% with label_list=position_labels|dict_get:title.position.id %}
                                <span class="position-badge {{ label_list.1 }}">{{ label_list.0 }}</span>
                            {% endwith %}
                        {% endif %}
                        {{ title.title }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">無し</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if commons %}
        <div class="custom-heading">共通情報</div>
        <table>
            <thead>
                <tr>
                    <th>年</th>
                    <th>球団</th>
                    <th>背番号</th>
                    <th>年俸</th>
                </tr>
            </thead>
            <tbody>
                {% for common in commons %}
                    <tr>
                        <td>
                            {% if common.season.id %}
                                <a href="{% url 'player_year_detail' player.id common.season.id %}">{{ common.season.year|year_with_suffix }}{{ common.season.label }}</a>
                            {% else %}
                                {{ common.season.year|year_with_suffix }}{{ common.season.label }}
                            {% endif %}
                        </td>
                        <td class="center">
                            <div>
                                {% if common.team.logo %}
                                    <img src="{{ common.team.logo.url }}" alt="Team Logo" class="team-logo-small">
                                {% else %}
                                    {{ common.team.league.organization }}
                                {% endif %}
                            </div>
                        </td>
                        <td class="center">{{ common.number }}</td>
                        <td class="numeric">
                            {% if common.salary %}
                                {{ common.salary|format_salary }}{{ common.currency }}
                            {% else %}
                                未登録
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">無し</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if pitchings %}
        <div class="custom-heading">投手成績</div>
        <table>
            <tbody>
                {% for pitching in pitchings %}
                    <tr>
                        <td>
                            {% if pitching.season.id %}
                                <a href="{% url 'player_year_detail' player.id pitching.season.id %}">{{ pitching.season.year|year_with_suffix }}{{ pitching.season.label }}</a>
                            {% else %}
                                {{ pitching.season.year|year_with_suffix }}{{ pitching.season.label }}
                            {% endif %}
                        </td>
                        {% if pitching.games != 0 %}
                            <td class="numeric">{{ pitching.earned_run_average|format_pitching_average }}</td>
                            <td class="numeric">{{ pitching.wins|win_with_suffix }}</td>
                            <td class="numeric">{{ pitching.loses|lose_with_suffix }}</td>
                            <td class="numeric">{{ pitching.saves|save_with_suffix }}</td>
                            <td class="numeric">{{ pitching.holds|hold_with_suffix }}</td>
                            <td class="numeric">{{ pitching.strike_outs|strike_with_suffix }}</td>
                        {% else %}
                            <td colspan=6 class="center">記録無し</td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="center">データがありません</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if battings %}
        <div class="custom-heading">打者成績</div>
        <table>
            <tbody>
                {% for batting in battings %}
                    <tr>
                        <td>
                            {% if batting.season.id %}
                                <a href="{% url 'player_year_detail' player.id batting.season.id %}">{{ batting.season.year|year_with_suffix }}{{ batting.season.label }}</a>
                            {% else %}
                                {{ batting.season.year|year_with_suffix }}{{ batting.season.label }}
                            {% endif %}
                        </td>
                        {% if batting.plate_appearances != 0 %}
                            <td class="numeric">{{ batting.batting_average|format_batting_average }}</td>
                            <td class="numeric">{{ batting.home_runs|homerun_with_suffix }}</td>
                            <td class="numeric">{{ batting.runs_batted_in|rbi_with_suffix }}</td>
                            <td class="numeric">{{ batting.stolen_bases|steel_with_suffix }}</td>
                            <td class="numeric">{{ batting.hits|hit_with_suffix }}</td>
                        {% else %}
                            <td colspan=5 class="center">記録無し</td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="center">データがありません</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if fieldings %}
        <div class="custom-heading">守備成績</div>
        <table>
            <tbody>
                {% for year, data in fieldings.items %}
                    <tr>
                        <td>
                            {% if data.season_id %}
                                <a href="{% url 'player_year_detail' player.id data.season_id %}">{{ data.year|year_with_suffix }}{{ data.label }}</a>
                            {% else %}
                                {{ data.year|year_with_suffix }}{{ data.label }}
                            {% endif %}
                        </td>
                        {% if data.total_games != 0 %}
                            <td>{{ data.html|safe }}</td>
                        {% else %}
                            <td class="center">記録無し</td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="center">データがありません</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if same_time_joined %}
        <div class="custom-heading">同期入団</div>
        <table>
            <tbody>
                {% for player in same_time_joined %}
                    <tr>
                        <td>
                            <div class="player-name-logo">
                                {% if player.team_logo %}
                                    <img src="{{ player.team_logo.url }}" alt="Team Logo" class="team-logo-small">
                                {% endif %}
                                <a href="{% url 'player_detail' player.player_id %}">
                                    {% if player.common_record_registered_name %}
                                        {{ player.common_record_registered_name }}
                                    {% else %}
                                        {{ player.player_name }}
                                    {% endif %}
                                </a>
                            </div>
                        </td>
                        <td>
                            {% if player.player_draft_rank %}
                                {{ player.draft_year|year_with_suffix }} {{ player.draft_category_name }} {{ player.player_draft_rank|rank_with_suffix }}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="center">データがありません</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if classmates %}
        <div class="custom-heading">同学年</div>
        <table>
            <tbody>
                {% for classmate in classmates %}
                    <tr>
                        <td>
                            <div class="player-name-logo">
                                {% if classmate.team_logo %}
                                    <img src="{{ classmate.team_logo.url }}" alt="Team Logo" class="team-logo-small">
                                {% endif %}
                                <a href="{% url 'player_detail' classmate.player_id %}">
                                    {% if classmate.common_record_registered_name %}
                                        {{ classmate.common_record_registered_name }}
                                    {% else %}
                                        {{ classmate.player_name }}
                                    {% endif %}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="center">データがありません</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if same_birthdays %}
        <div class="custom-heading">同じ誕生日</div>
        <table>
            <tbody>
                {% for player in same_birthdays %}
                    <tr>
                        <td>
                            <div class="player-name-logo">
                                {% if player.team_logo %}
                                    <img src="{{ player.team_logo.url }}" alt="Team Logo" class="team-logo-small">
                                {% endif %}
                                <a href="{% url 'player_detail' player.player_id %}">
                                    {% if player.common_record_registered_name %}
                                        {{ player.common_record_registered_name }}
                                    {% else %}
                                        {{ player.player_name }}
                                    {% endif %}
                                </a>
                            </div>
                        </td>
                        <td>
                            {% if player.age %}
                                {{ player.age|age_with_suffix }}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="center">データがありません</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a href="{% url 'player_list' %}">戻る</a>
    {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'player_edit' player.id %}">[編集]</a>
    {% endif %}
{% endblock %}