{% extends 'base.html' %}
{% load static %}
{% load format_filters %}
{% block title %}選手一覧{% endblock %}
{% block content %}
    <form method="GET" action="{% url 'player_list' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="全文検索" value="{{ request.GET.q }}">
        <button type="submit">検索</button>
        <button type="button" id="open-search-popup">詳細検索</button>
    </form>
    <div class="grid player-grid">
        {% for player in players %}
            <div class="card" style="background-color: rgba({{ player.team_color|hex_to_rgb }}, 0.2);">
                <div class="card-header player-name-logo">
                    {% if player.team_logo %}
                        <img src="{{ player.team_logo.url }}" alt="Team Logo">
                    {% endif %}
                    <a href="{% url 'player_detail' player.player_id %}">{{ player.player_name }}</a>
                </div>
                <div class="card-info">
                    {% if player.player_nickname %}
                        <div><strong>{{ player.player_nickname|with_brackets }}</strong></div>
                    {% endif %}
                    {% if player.common_record_number %}
                        <div><strong>背番号:</strong> {{ player.common_record_number }}</div>
                    {% endif %}
                    {% if player.position_category_name %}
                        <div><strong>ポジション:</strong> {{ player.position_category_name }}</div>
                    {% endif %}
                    {% if player.position_category_id == 1 and player.pitching_year %}
                        <div><strong>成績({{ player.pitching_year|year_with_suffix }}):</strong> {% format_pitching_stats player.pitching_games player.pitching_earned_run_average player.pitching_wins player.pitching_loses player.pitching_saves player.pitching_holds player.pitching_strike_outs %}</div>
                    {% elif player.batting_year %}
                        <div><strong>成績({{ player.batting_year|year_with_suffix }}):</strong> {% format_batting_stats player.batting_plate_appearances player.batting_average player.batting_home_runs player.batting_runs_batted_in player.batting_stolen_bases %}</div>
                    {% endif %}
                    {% if player.common_record_salary %}
                        <div><strong>年俸({{ player.common_record_year|year_with_suffix }}):</strong> {{ player.common_record_salary|format_salary }}{{ player.currency_name }}</div>
                    {% endif %}
                    {% if player.draft_year %}
                        <div><strong>入団:</strong> {{ player.draft_year|year_with_suffix }}{{ player.draft_category_name }}{{ player.player_draft_rank|rank_with_suffix }}</div>
                    {% endif %}
                    {% if player.player_birthday %}
                        <div><strong>誕生日:</strong> {{ player.player_birthday }}</div>
                    {% endif %}
                    {% if player.age %}
                        <div><strong>年齢:</strong> {{ player.age|age_with_suffix }}</div>
                    {% endif %}
                    {% if player.career_version_name %}
                        <div><strong>経歴:</strong> {{ player.career_version_name }}</div>
                    {% endif %}
                    {% if player.throw_bat %}
                        <div><strong>投打:</strong> {{ player.throw_bat }}</div>
                    {% endif %}
                    {% if player.player_height %}
                        <div><strong>身長:</strong> {{ player.player_height|height_with_suffix }}</div>
                    {% endif %}
                    {% if player.player_weight %}
                        <div><strong>体重:</strong> {{ player.player_weight|weight_with_suffix }}</div>
                    {% endif %}
                    {% if player.place_name %}
                        <div><strong>出身地:</strong> {{ player.place_name }}</div>
                    {% endif %}
                    {% if player.marriage %}
                        <div><strong>婚姻:</strong> {{ player.marriage }}</div>
                    {% endif %}
                    {% if player.player_hobby %}
                        <div><strong>趣味:</strong> {{ player.player_hobby }}</div>
                    {% endif %}
                    {% if player.player_specialty %}
                        <div><strong>特技:</strong> {{ player.player_specialty }}</div>
                    {% endif %}
                    <div>
                        <strong>関連リンク:</strong> 
                        {% if player.player_wikipedia_parameter %}
                            <a href={{ player.player_wikipedia_parameter|format_wikipedia_url }} target="_blank" title="Wikipedia">
                                <i class="fa-brands fa-wikipedia-w"></i>
                            </a>
                        {% endif %}
                        {% if player.player_youtube_parameter %}
                            <a href={{ player.player_youtube_parameter|format_youtube_url }} target="_blank" title="YouTube">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        {% endif %}
                        {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'player_edit' player.player_id %}">[編集]</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="no-result">検索結果は0件です。</div>
        {% endfor %}
    </div>
    <!-- ページネーションUI -->
    <div class="pagination">
        {% if players.has_previous %}
            <a href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ players.previous_page_number }}">&laquo; 前</a>
        {% endif %}
        <span>ページ {{ players.number }} / {{ players.paginator.num_pages }}</span>
        {% if players.has_next %}
            <a href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ players.next_page_number }}">次 &raquo;</a>
        {% endif %}
    </div>
    <div id="search-modal" class="modal hidden">
        <div class="modal-content">
            <form method="get" action="">
                <table class="search-table">
                    <tbody>
                        <tr>
                            <td><label>名前</label></td>
                            <td><input type="text" name="name" value="{{ request.GET.name }}"></td>
                        </tr>
                        <tr>
                            <td><label>球団</label></td>
                            <td>
                                <select name="team">
                                    <option value="">すべて</option>
                                    {% for team in teams %}
                                        <option value="{{ team.id }}" {% if request.GET.team == team.id|stringformat:"s" %}selected{% endif %}>{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>通称</label></td>
                            <td><input type="text" name="nickname" value="{{ request.GET.nickname }}"></td>
                        </tr>
                        <tr>
                            <td><label>背番号</label></td>
                            <td><input type="number" name="number" value="{{ request.GET.number }}" min="0"></td>
                        </tr>
                        <tr>
                            <td><label>ポジション</label></td>
                            <td>
                                <select name="position_category">
                                    <option value="">すべて</option>
                                    {% for position_category in position_categories %}
                                        <option value="{{ position_category.id }}" {% if request.GET.position_category == position_category.id|stringformat:"s" %}selected{% endif %}>{{ position_category.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>年俸</label></td>
                            <td><input type="number" name="salary_min" value="{{ request.GET.salary_min }}" min="0">~<input type="number" name="salary_max" value="{{ request.GET.salary_max }}" min="0">万円</td>
                        </tr>
                        <tr>
                            <td><label>入団</label></td>
                            <td><input type="number" name="year" value="{{ request.GET.year }}" min="0">年</td>
                        </tr>
                        <tr>
                            <td><label>ドラフト</label></td>
                            <td><input type="number" name="rank" value="{{ request.GET.rank }}" min="0">位</td>
                        </tr>
                        <tr>
                            <td><label>誕生年</label></td>
                            <td><input type="number" name="birth_year" value="{{ request.GET.birth_year }}" min="0">年</td>
                        </tr>
                        <tr>
                            <td><label>経歴</label></td>
                            <td>
                                <select name="career">
                                    <option value="">すべて</option>
                                    {% for career in careers %}
                                        <option value="{{ career.id }}" {% if request.GET.career == career.id|stringformat:"s" %}selected{% endif %}>{{ career.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>利腕</label></td>
                            <td>
                                <select name="pitching">
                                    <option value="">すべて</option>
                                    {% for throwing in throwings %}
                                        <option value="{{ throwing.id }}" {% if request.GET.pitching == throwing.id|stringformat:"s" %}selected{% endif %}>{{ throwing.name }}</option>
                                    {% endfor %}
                                </select>
                                <select name="batting">
                                    <option value="">すべて</option>
                                    {% for batting in battings %}
                                        <option value="{{ batting.id }}" {% if request.GET.batting == batting.id|stringformat:"s" %}selected{% endif %}>{{ batting.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>出身地</label></td>
                            <td>
                                <select name="birthplace">
                                    <option value="">すべて</option>
                                    {% for place in places %}
                                        <option value="{{ place.id }}" {% if request.GET.birthplace == place.id|stringformat:"s" %}selected{% endif %}>{{ place.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="submit">検索</button>
                    <button type="button" id="close-search-popup">閉じる</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/players.js' %}"></script>
{% endblock %}