{% extends 'base.html' %}
{% load format_filters %}
{% block title %}トップページ{% endblock %}
{% block content %}
    <div class="custom-heading">今シーズンの順位</div>
    <a href="{% url 'team_season_edit' %}">[編集]</a>
    <table>
        <tbody>
            <tr>
                <td colspan="7" style="background-color: {{ ce_league.color }}; color: #fff;"><img src="{{ ce_league.logo.url }}" alt="League Logo" class="team-logo-small">{{ ce_league.name}}</td>
            </tr>
            {% for team in ce_teams %}
                <tr>
                    <td class="numeric">{{ team.sort_order|rank_with_suffix }}</td>
                    <td class="center"><img src="{{ team.logo.url }}" alt="Team Logo" class="team-logo-small"></td>
                    <td class="numeric">{{ team.win|win_with_suffix }}</td>
                    <td class="numeric">{{ team.lose|lose_with_suffix }}</td>
                    <td class="numeric">{{ team.draw|draw_with_suffix }}</td>
                    <td class="numeric">{{ team.win_percent|format_batting_average }}</td>
                    <td class="numeric">
                        {% if team.game_behind == 0 %}
                            -
                        {% elif team.game_behind %}
                            {{ team.game_behind|floatformat:1 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table style="margin-top: 0.5rem;">
        <tbody>
            <tr>
                <td colspan="7" style="background-color: {{ pa_league.color }}; color: #fff;"><img src="{{ pa_league.logo.url }}" alt="League Logo" class="team-logo-small">{{ pa_league.name}}</td>
            </tr>
            {% for team in pa_teams %}
                <tr>
                    <td class="numeric">{{ team.sort_order|rank_with_suffix }}</td>
                    <td class="center"><img src="{{ team.logo.url }}" alt="Team Logo" class="team-logo-small"></td>
                    <td class="numeric">{{ team.win|win_with_suffix }}</td>
                    <td class="numeric">{{ team.lose|lose_with_suffix }}</td>
                    <td class="numeric">{{ team.draw|draw_with_suffix }}</td>
                    <td class="numeric">{{ team.win_percent|format_batting_average }}</td>
                    <td class="numeric">
                        {% if team.game_behind == 0 %}
                            -
                        {% elif team.game_behind %}
                            {{ team.game_behind|floatformat:1 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="custom-heading">今日の試合</div>
    <table>
        <tbody>
            {% for game in games %}
                <tr>
                    <td class="center">
                        {% if game.home_team.logo %}
                            <img src="{{ game.home_team.logo.url }}" alt="Team Logo" class="team-logo-small">
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if game.home_score %}
                            {{ game.home_score }}
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if game.game_status_id == 1 %}
                            -
                        {% else %}
                            VS
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if game.away_score %}
                            {{ game.away_score }}
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if game.away_team.logo %}
                            <img src="{{ game.away_team.logo.url }}" alt="Team Logo" class="team-logo-small">
                        {% endif %}
                    </td>
                    <td>
                        {% if game.stadium %}
                            {{ game.stadium }}
                        {% endif %}
                    </td>
                    <td>
                        {% if game.start_time %}
                            {{ game.start_time }}
                        {% endif %}
                    </td>
                    <td>
                        {% if game.game_status_id == 2 %}
                            中止
                        {% endif %}
                    </td>
                    {% if user.is_authenticated and user.is_superuser %}
                        <td class="center">
                            <a href="{% url 'game_edit' game.id %}?next={{ request.get_full_path|urlencode }}">[編集]</a>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <div>今日は試合がありません。</div>
            {% endfor %}
        </tbody>
    </table>
    <div class="custom-heading">今日が誕生日の選手</div>
    <table>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>
                        <div class="player-name-logo">
                            {% if player.team_logo %}
                                <img src="{{ player.team_logo.url }}" alt="Team Logo" class="team-logo-small">
                            {% endif %}
                            <a href="{% url 'player_detail' player.player_id %}">{{player.player_name}}</a>
                        </div>
                    </td>
                    <td class="numeric">{{ player.age|age_with_suffix }}</td>
                </tr>
            {% empty %}
                <div>今日が誕生日の選手はいません。</div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}