{% extends 'base.html' %}

{% block title %}経歴一覧{% endblock %}

{% block content %}
    {% for career in careers %}
        <div class="card">
        <div class="card-info">
            <div class="team-name"><a href="{% url 'career_detail' career.id %}">{{ career.name }}</a></div>
            <div class="other-info">
                {% if career.is_private == True %}
                    私立
                {% elif career.is_private == False %}
                    公立
                {% endif %}
                {{ career.career_category }}
            </div>
        </div>
    </div>
    {% empty %}
        <div>経歴が未登録です。</div>
    {% endfor %}
{% endblock %}