{% extends 'base.html' %}
{% load format_filters %}
{% block title %}球団一覧{% endblock %}
{% block content %}
    <form method="GET" action="{% url 'team_list' %}">
        {% csrf_token %}
        <select name="organization">
            <option value="">すべて</option>
            {% for organization in organizations %}
                <option value="{{ organization.id }}" {% if request.GET.organization == organization.id|stringformat:"s" %}selected{% endif %}>{{ organization.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">検索</button>
    </form>
    {% for team in teams %}
        <div class="card image-card" style="background-color: rgba({{ team.color|hex_to_rgb }}, 0.2);">
            <div class="card-image">
                {% if team.logo %}
                    <img src="{{ team.logo.url }}" alt="Team Logo" height="50">
                {% endif %}
            </div>
            <div class="card-info">
                <div class="card-header"><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></div>
                <div class="card-content">{{ team.league.organization }} {{ team.league }}</div>
            </div>
        </div>
    {% empty %}
        <div class="no-result">検索結果は0件です。</div>
    {% endfor %}
{% endblock %}