{% extends "base.html" %}
{% load format_filters %}
{% block title %}{{ year }}年ドラフト{% endblock %}
{% block content %}
    <div class="page-title">{{ year }}年ドラフト</div>
    {% for team_name, team_info in grouped_drafts.items %}
        <div class="custom-heading">
            {% if team_info.logo %}
                <img src="{{ team_info.logo.url }}" alt="Team Logo" class="team-logo-small">
            {% endif %}
            {{ team_name }}
        </div>
        {% for category_name, players in team_info.categories.items %}
            {% if players %}
                <div><strong>{{ category_name }}</strong></div>
                <table>
                    <tbody>
                        {% for player in players %}
                            <tr>
                                <td>
                                    {{ player.player_draft_miss_count | get_miss_text }}
                                    {{ player.player_draft_rank }}位
                                </td>
                                <td>{{ player.player_draft_is_hit|hit_mark }}</td>
                                <td>
                                    {% if player.player_furigana %}
                                        <a href="{% url 'player_detail' player.player_id %}">{{ player.player_name }}</a>
                                    {% else %}
                                        {{ player.player_name }}
                                    {% endif %}
                                </td>
                                <td>{{ player.player_draft_is_joined|join_mark:player.player_draft_is_hit }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="no-result">データがありません</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}